### Arpanjot Kaur, 2025

##### Reshaping Median Home Sale Price Data (Wide to Long Format)

In [21]:
import pandas as pd

In [22]:
# Load raw median home price data from the source file
df = pd.read_excel("med_sale_price.xlsx")

In [23]:
df

,Region,"January 29, 2012","February 26, 2012","March 25, 2012","April 29, 2012","May 27, 2012","June 24, 2012","July 29, 2012","August 26, 2012","September 30, 2012",...,"February 23, 2025","March 30, 2025","April 27, 2025","May 25, 2025","June 29, 2025","July 27, 2025","August 31, 2025","September 28, 2025","October 26, 2025","November 30, 2025"
0,"Seattle, WA",321000,325000,365000,390000,390000,389950,389000,379475,379500,...,852500,879000,910000,895000,935000,880000,900000,855000,899000,865000

In [24]:
# Reshape the dataset from wide to long format to support visualization
df_long = df.melt(id_vars=["Region"], var_name = "Date", value_name ="Price $")

In [25]:
# Convert 'Date' column to datetime format
df_long['Date'] = pd.to_datetime(df_long['Date'], errors='coerce')

In [26]:
# Extract the year from the 'Date' column and create a new column 'Year'
df_long['Year'] = df_long['Date'].dt.year

In [27]:
#Export the data to an excel file
df_long.to_excel("longformat_median_saleprice_with_year.xlsx", index=False)