### Arpanjot Kaur, 2025

##### Building Permits - ETL and Data Cleaning

In [9]:
import pandas as pd

In [12]:
# Load raw building permits data from Excel
df = pd.read_excel("Residential_Building_Permits.xlsx")

##### EDA

In [15]:
# Preview the first and last few rows to understand data structure
df.head()

,OBJECTID,Project Address,Development Site Square Feet,Permit Number,Master User Permit Number,Permit Stage,Type of Permit,New Units Permitted,Demolished Units Permitted,Net Units Permitted,...,Census Block Group 2020,Quarter Issued,Quarter and Year Issued,Quarter Final,Quarter and Year Final,Condo Parcel or Plat (Y/N),Most Recent Inspection Date,Most Recent Inspection Type,x,y
0,1,13505 MERIDIAN AVE N,6818.0,6909684,NaN,Permit Finaled,Construction Permit,1,0,1,...,602.1,3,2022_3,2.0,2023_2,Y,2023-06-30 08:00:00,Building Final,-122.334773,47.727143
1,2,13542 A 39TH AVE NE,7229.0,6975620,3032420.0,Permit Finaled,Construction Permit,1,0,1,...,102.1,1,2024_1,2.0,2025_2,Y,2025-05-20 08:00:00,Building Final,-122.286297,47.727568
2,3,13542 A 39TH AVE NE,7229.0,6975620,3032420.0,Permit Finaled,Construction Permit,1,0,1,...,102.1,1,2024_1,2.0,2025_2,Y,2025-05-20 08:00:00,Building Final,-122.286297,47.727568
3,4,13542 C 39TH AVE NE,7229.0,6978109,NaN,Permit Finaled,Construction Permit,1,0,1,...,102.1,1,2024_1,2.0,2025_2,Y,2025-05-20 08:00:00,Building Final,-122.286514,47.727596
4,5,13544 39TH AVE NE,7058.0,6978171,3032420.0,Permit Finaled,Construction Permit,1,0,1,...,102.1,1,2024_1,2.0,2025_2,Y,2025-05-13 08:00:00,Building Final,-122.286640,47.727732

In [16]:
df.tail()

,OBJECTID,Project Address,Development Site Square Feet,Permit Number,Master User Permit Number,Permit Stage,Type of Permit,New Units Permitted,Demolished Units Permitted,Net Units Permitted,...,Census Block Group 2020,Quarter Issued,Quarter and Year Issued,Quarter Final,Quarter and Year Final,Condo Parcel or Plat (Y/N),Most Recent Inspection Date,Most Recent Inspection Type,x,y
45210,45964,3426 NW 56TH ST,7600.0,6079492,NaN,Permit Finaled,Construction Permit,1,0,1,...,3201.2,2,2006_2,1.0,2007_1,N,2007-03-02 08:00:00,Building Final,-122.402371,47.669717
45211,45965,403 NE 60TH ST,4000.0,6487262,NaN,Permit Finaled,Construction Permit,1,0,1,...,4500.2,1,2016_1,4.0,2016_4,N,2016-11-17 08:00:00,Building Final,-122.324232,47.672088
45212,45966,3632 61ST AVE SW,6864.0,6280115,NaN,Permit Finaled,Construction Permit,1,0,1,...,9701.4,4,2012_4,2.0,2014_2,N,2014-05-13 08:00:00,Building Final,-122.410579,47.571366
45213,45967,3702 29TH AVE W,6000.0,6385191,NaN,Permit Finaled,Construction Permit,1,0,1,...,5801.3,1,2015_1,4.0,2015_4,N,2015-12-22 08:00:00,Building Final,-122.393915,47.653339
45214,45968,3855 37TH AVE S,4083.0,6156935,NaN,Permit Finaled,Construction Permit,1,0,1,...,10102.2,2,2008_2,4.0,2010_4,N,2010-10-07 08:00:00,Building Final,-122.286482,47.568223

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45215 entries, 0 to 45214
Data columns (total 61 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   OBJECTID                         45215 non-null  int64
 1   Project Address                  45214 non-null  object
 2   Development Site Square Feet     45133 non-null  float64
 3   Permit Number                    45215 non-null  int64
 4   Master User Permit Number        7288 non-null   float64
 5   Permit Stage                     45215 non-null  object
 6   Type of Permit                   45215 non-null  object
 7   New Units Permitted              45215 non-null  int64
 8   Demolished Units Permitted       45215 non-null  int64
 9   Net Units Permitted              45215 non-null  int64
 10  Sleeping Rooms Permitted         45215 non-null  int64
 11  Permit Value                     45122 non-null  float64
 12  Type of Dwelling Unit            45215 non-null  object
 13  Type of Dwelling Unit per Code   45153 non-null  object
 14  Description of Work              45214 non-null  object
 15  Application Date                 45178 non-null  datetime64[ns]
 16  Issued Date                      45215 non-null  datetime64[ns]
 17  Year Issued                      45215 non-null  int64
 18  Final Date                       42277 non-null  datetime64[ns]
 19  Year Finaled                     42277 non-null  float64
 20  VILLNUMB                         45170 non-null  float64
 21  Urban Village Name               45170 non-null  object
 22  Urban Village Type               45170 non-null  object
 23  Comp Plan Name                   45170 non-null  object
 24  Comp Plan Type                   45170 non-null  object
 25  Community Reporting Area Number  45170 non-null  float64
 26  Community Reporting Area         45170 non-null  object
 27  Neighborhood                     45170 non-null  object
 28  Council District                 45170 non-null  float64
 29  Census Block 2010                45170 non-null  float64
 30  Census Block Group 2010          45170 non-null  float64
 31  GEOID10                          45170 non-null  float64
 32  SORT                             45170 non-null  float64
 33  SOURCE                           45215 non-null  object
 34  XCOORD_StatePlane                45170 non-null  float64
 35  YCOORD_StatePlane                45170 non-null  float64
 36  MAF_ID                           31982 non-null  float64
 37  DevSite_ID                       32412 non-null  object
 38  RecordNumber                     45215 non-null  object
 39  STATUS_COLOR                     45215 non-null  object
 40  Longitude                        45170 non-null  float64
 41  Latitude                         45170 non-null  float64
 42  Expiration Date                  32518 non-null  datetime64[ns]
 43  Zoning All Zones                 45211 non-null  object
 44  Zoning Primary Zone              45211 non-null  object
 45  Zoning Report Zone               45211 non-null  object
 46  Zoning Category                  45211 non-null  object
 47  Zoning Class                     45211 non-null  object
 48  Parent Construction Permit       10020 non-null  object
 49  GEOID20                          45170 non-null  float64
 50  Census Block 2020                45170 non-null  float64
 51  Census Block Group 2020          45170 non-null  float64
 52  Quarter Issued                   45215 non-null  int64
 53  Quarter and Year Issued          45215 non-null  object
 54  Quarter Final                    42277 non-null  float64
 55  Quarter and Year Final           42277 non-null  object
 56  Condo Parcel or Plat (Y/N)       45215 non-null  object
 57  Most Recent Inspection Date      32057 non-null  datetime64[ns]
 58  Most Recent Inspection Type      32064 non-null  object
 59  x                                45170 non-null  float64
 60  y                                45170 non-null  float64
dtypes: datetime64[ns](5), float64(22), int64(8), object(26)
memory usage: 21.0+ MB

In [18]:
df.describe()

,OBJECTID,Development Site Square Feet,Permit Number,Master User Permit Number,New Units Permitted,Demolished Units Permitted,Net Units Permitted,Sleeping Rooms Permitted,Permit Value,Application Date,...,Latitude,Expiration Date,GEOID20,Census Block 2020,Census Block Group 2020,Quarter Issued,Quarter Final,Most Recent Inspection Date,x,y
count,45215.000000,4.513300e+04,4.521500e+04,7.288000e+03,45215.000000,45215.000000,45215.000000,45215.000000,4.512200e+04,45178,...,45170.000000,32518,4.517000e+04,45170.000000,45170.000000,45215.000000,42277.000000,32057,45170.000000,45170.000000
mean,22722.397611,1.204916e+04,4.896682e+06,3.022920e+06,4.405750,0.384231,4.021519,0.072321,7.590982e+05,2011-01-18 03:00:21.196157440,...,47.625863,2018-05-30 06:26:23.123193344,5.303301e+14,6490.302334,6490.301326,2.481654,2.491615,2017-10-14 14:10:40.783604224,-122.334844,47.625867
min,1.000000,0.000000e+00,6.478110e+05,3.001095e+06,0.000000,0.000000,-303.000000,0.000000,0.000000e+00,1920-02-11 08:00:00,...,47.495818,2005-01-16 08:00:00,5.303300e+14,101.100000,101.100000,1.000000,1.000000,2005-08-01 08:00:00,-122.419874,47.495818
25%,11304.500000,1.000000e+00,7.471715e+05,3.014342e+06,1.000000,0.000000,1.000000,0.000000,6.240350e+04,2004-07-21 08:00:00,...,47.566094,2014-02-20 08:00:00,5.303300e+14,3301.100400,3301.100000,2.000000,2.000000,2013-08-05 08:00:00,-122.369242,47.566099
50%,22609.000000,4.980000e+03,6.349591e+06,3.021785e+06,1.000000,0.000000,1.000000,0.000000,2.069100e+05,2013-04-19 08:00:00,...,47.637532,2018-10-06 08:00:00,5.303301e+14,6300.301400,6300.300000,3.000000,2.000000,2018-03-15 08:00:00,-122.333280,47.637538
75%,33934.500000,6.900000e+03,6.682776e+06,3.033880e+06,2.000000,0.000000,1.000000,0.000000,4.047260e+05,2018-11-02 02:00:00,...,47.677614,2023-09-17 08:00:00,5.303301e+14,9900.406825,9900.400000,3.000000,3.000000,2023-02-03 08:00:00,-122.300394,47.677615
max,45968.000000,2.348970e+07,7.103829e+06,3.043271e+06,891.000000,414.000000,891.000000,800.000000,3.706000e+08,2025-09-10 08:00:00,...,47.733982,2027-05-06 08:00:00,5.303303e+14,26500.100700,26500.100000,4.000000,4.000000,2025-09-30 08:00:00,-122.236648,47.733988
std,13218.321084,2.577344e+05,2.628671e+06,1.133755e+04,23.562465,3.614238,23.628833,4.580199,4.935571e+06,NaN,...,0.062014,NaN,3.617900e+07,3617.899852,3617.899769,1.087763,1.111810,NaN,0.039423,0.062014

In [20]:
df.columns

Index(['OBJECTID', 'Project Address', 'Development Site Square Feet',
       'Permit Number', 'Master User Permit Number', 'Permit Stage',
       'Type of Permit', 'New Units Permitted', 'Demolished Units Permitted',
       'Net Units Permitted', 'Sleeping Rooms Permitted', 'Permit Value',
       'Type of Dwelling Unit', 'Type of Dwelling Unit per Code',
       'Description of Work', 'Application Date', 'Issued Date', 'Year Issued',
       'Final Date', 'Year Finaled', 'VILLNUMB', 'Urban Village Name',
       'Urban Village Type', 'Comp Plan Name', 'Comp Plan Type',
       'Community Reporting Area Number', 'Community Reporting Area',
       'Neighborhood', 'Council District', 'Census Block 2010',
       'Census Block Group 2010', 'GEOID10', 'SORT', 'SOURCE',
       'XCOORD_StatePlane', 'YCOORD_StatePlane', 'MAF_ID', 'DevSite_ID',
       'RecordNumber', 'STATUS_COLOR', 'Longitude', 'Latitude',
       'Expiration Date', 'Zoning All Zones', 'Zoning Primary Zone',
       'Zoning Report Zone', 'Zoning Category', 'Zoning Class',
       'Parent Construction Permit', 'GEOID20', 'Census Block 2020',
       'Census Block Group 2020', 'Quarter Issued', 'Quarter and Year Issued',
       'Quarter Final', 'Quarter and Year Final', 'Condo Parcel or Plat (Y/N)',
       'Most Recent Inspection Date', 'Most Recent Inspection Type', 'x', 'y'],
      dtype='object')

In [22]:
df.shape

(45215, 61)

In [23]:
#create a working copy of raw data
df_clean = df.copy()

In [26]:
df_clean.columns = (df_clean.columns
                    .str.strip()
                    .str.lower()
                    .str.replace(' ', '_')
                    .str.replace('/', '_')
                    .str.replace('(', ' ', regex=False)
                    .str.replace(')', ' ', regex=False)
                   )

In [27]:
df_clean.columns

Index(['objectid', 'project_address', 'development_site_square_feet',
       'permit_number', 'master_user_permit_number', 'permit_stage',
       'type_of_permit', 'new_units_permitted', 'demolished_units_permitted',
       'net_units_permitted', 'sleeping_rooms_permitted', 'permit_value',
       'type_of_dwelling_unit', 'type_of_dwelling_unit_per_code',
       'description_of_work', 'application_date', 'issued_date', 'year_issued',
       'final_date', 'year_finaled', 'villnumb', 'urban_village_name',
       'urban_village_type', 'comp_plan_name', 'comp_plan_type',
       'community_reporting_area_number', 'community_reporting_area',
       'neighborhood', 'council_district', 'census_block_2010',
       'census_block_group_2010', 'geoid10', 'sort', 'source',
       'xcoord_stateplane', 'ycoord_stateplane', 'maf_id', 'devsite_id',
       'recordnumber', 'status_color', 'longitude', 'latitude',
       'expiration_date', 'zoning_all_zones', 'zoning_primary_zone',
       'zoning_report_zone', 'zoning_category', 'zoning_class',
       'parent_construction_permit', 'geoid20', 'census_block_2020',
       'census_block_group_2020', 'quarter_issued', 'quarter_and_year_issued',
       'quarter_final', 'quarter_and_year_final', 'condo_parcel_or_plat_ y_n ',
       'most_recent_inspection_date', 'most_recent_inspection_type', 'x', 'y'],
      dtype='object')

In [32]:
# Rename columns to follow SQL naming conventions
df_clean.rename(columns={
    'development_site_square_feet': 'development_site_sqft',
    'type_of_dwelling_unit': 'dwelling_unit_type',
    'type_of_dwelling_unit_per_code': 'dwelling_unit_type_code',
    'condo_parcel_or_plat_ y_n ': 'condo_parcel_or_plat',
    'zoning_report_zone': 'zoning_reported_zone',
    'zoning_class': 'zoning_classification',
    'issued_date': 'permit_issued_date',
    'final_date': 'permit_final_date',
    'expiration_date': 'permit_expiration_date'
}, inplace=True)

In [33]:
df_clean.columns

Index(['objectid', 'project_address', 'development_site_sqft', 'permit_number',
       'master_user_permit_number', 'permit_stage', 'type_of_permit',
       'new_units_permitted', 'demolished_units_permitted',
       'net_units_permitted', 'sleeping_rooms_permitted', 'permit_value',
       'dwelling_unit_type', 'dwelling_unit_type_code', 'description_of_work',
       'application_date', 'permit_issued_date', 'year_issued',
       'permit_final_date', 'year_finaled', 'villnumb', 'urban_village_name',
       'urban_village_type', 'comp_plan_name', 'comp_plan_type',
       'community_reporting_area_number', 'community_reporting_area',
       'neighborhood', 'council_district', 'census_block_2010',
       'census_block_group_2010', 'geoid10', 'sort', 'source',
       'xcoord_stateplane', 'ycoord_stateplane', 'maf_id', 'devsite_id',
       'recordnumber', 'status_color', 'longitude', 'latitude',
       'permit_expiration_date', 'zoning_all_zones', 'zoning_primary_zone',
       'zoning_reported_zone', 'zoning_category', 'zoning_classification',
       'parent_construction_permit', 'geoid20', 'census_block_2020',
       'census_block_group_2020', 'quarter_issued', 'quarter_and_year_issued',
       'quarter_final', 'quarter_and_year_final', 'condo_parcel_or_plat',
       'most_recent_inspection_date', 'most_recent_inspection_type', 'x', 'y'],
      dtype='object')

In [34]:
# Drop redundant, repetitive, and system-generated columns that are not required for analysis
cols_to_drop = ['objectid', 'sort', 'status_color', 'villnumb', 'maf_id', 'devsite_id', 'recordnumber', 'parent_construction_permit', 
                'xcoord_stateplane', 'ycoord_stateplane', 'x', 'y']
df_clean.drop(columns= cols_to_drop, inplace = True)

In [40]:
df_clean.columns #new columns

Index(['project_address', 'development_site_sqft', 'permit_number',
       'master_user_permit_number', 'permit_stage', 'type_of_permit',
       'new_units_permitted', 'demolished_units_permitted',
       'net_units_permitted', 'sleeping_rooms_permitted', 'permit_value',
       'dwelling_unit_type', 'dwelling_unit_type_code', 'description_of_work',
       'application_date', 'permit_issued_date', 'year_issued',
       'permit_final_date', 'year_finaled', 'urban_village_name',
       'urban_village_type', 'comp_plan_name', 'comp_plan_type',
       'community_reporting_area_number', 'community_reporting_area',
       'neighborhood', 'council_district', 'census_block_2010',
       'census_block_group_2010', 'geoid10', 'source', 'longitude', 'latitude',
       'permit_expiration_date', 'zoning_all_zones', 'zoning_primary_zone',
       'zoning_reported_zone', 'zoning_category', 'zoning_classification',
       'geoid20', 'census_block_2020', 'census_block_group_2020',
       'quarter_issued', 'quarter_and_year_issued', 'quarter_final',
       'quarter_and_year_final', 'condo_parcel_or_plat',
       'most_recent_inspection_date', 'most_recent_inspection_type'],
      dtype='object')

In [41]:
#change data types
df_clean['year_finaled'] = df_clean['year_finaled'].astype('Int64')
df_clean['quarter_final'] = df_clean['quarter_final'].astype('Int64')
df_clean['council_district'] = df_clean['council_district'].astype('Int64')

In [43]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45215 entries, 0 to 45214
Data columns (total 49 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   project_address                  45214 non-null  object
 1   development_site_sqft            45133 non-null  float64
 2   permit_number                    45215 non-null  int64
 3   master_user_permit_number        7288 non-null   float64
 4   permit_stage                     45215 non-null  object
 5   type_of_permit                   45215 non-null  object
 6   new_units_permitted              45215 non-null  int64
 7   demolished_units_permitted       45215 non-null  int64
 8   net_units_permitted              45215 non-null  int64
 9   sleeping_rooms_permitted         45215 non-null  int64
 10  permit_value                     45122 non-null  float64
 11  dwelling_unit_type               45215 non-null  object
 12  dwelling_unit_type_code          45153 non-null  object
 13  description_of_work              45214 non-null  object
 14  application_date                 45178 non-null  datetime64[ns]
 15  permit_issued_date               45215 non-null  datetime64[ns]
 16  year_issued                      45215 non-null  int64
 17  permit_final_date                42277 non-null  datetime64[ns]
 18  year_finaled                     42277 non-null  Int64
 19  urban_village_name               45170 non-null  object
 20  urban_village_type               45170 non-null  object
 21  comp_plan_name                   45170 non-null  object
 22  comp_plan_type                   45170 non-null  object
 23  community_reporting_area_number  45170 non-null  float64
 24  community_reporting_area         45170 non-null  object
 25  neighborhood                     45170 non-null  object
 26  council_district                 45170 non-null  Int64
 27  census_block_2010                45170 non-null  float64
 28  census_block_group_2010          45170 non-null  float64
 29  geoid10                          45170 non-null  float64
 30  source                           45215 non-null  object
 31  longitude                        45170 non-null  float64
 32  latitude                         45170 non-null  float64
 33  permit_expiration_date           32518 non-null  datetime64[ns]
 34  zoning_all_zones                 45211 non-null  object
 35  zoning_primary_zone              45211 non-null  object
 36  zoning_reported_zone             45211 non-null  object
 37  zoning_category                  45211 non-null  object
 38  zoning_classification            45211 non-null  object
 39  geoid20                          45170 non-null  float64
 40  census_block_2020                45170 non-null  float64
 41  census_block_group_2020          45170 non-null  float64
 42  quarter_issued                   45215 non-null  int64
 43  quarter_and_year_issued          45215 non-null  object
 44  quarter_final                    42277 non-null  Int64
 45  quarter_and_year_final           42277 non-null  object
 46  condo_parcel_or_plat             45215 non-null  object
 47  most_recent_inspection_date      32057 non-null  datetime64[ns]
 48  most_recent_inspection_type      32064 non-null  object
dtypes: Int64(3), datetime64[ns](5), float64(12), int64(7), object(22)
memory usage: 17.0+ MB

In [53]:
#Convert census ID columns to string type
census_cols = ['geoid10', 'geoid20', 'census_block_2010', 'census_block_group_2010', 
               'census_block_2010', 'census_block_group_2010']
for cols in census_cols:
    df_clean[cols] = df_clean[cols].astype("string")

In [54]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45215 entries, 0 to 45214
Data columns (total 47 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   project_address                  45214 non-null  object
 1   development_site_sqft            45133 non-null  float64
 2   permit_number                    45215 non-null  int64
 3   master_user_permit_number        7288 non-null   float64
 4   permit_stage                     45215 non-null  object
 5   type_of_permit                   45215 non-null  object
 6   new_units_permitted              45215 non-null  int64
 7   demolished_units_permitted       45215 non-null  int64
 8   net_units_permitted              45215 non-null  int64
 9   sleeping_rooms_permitted         45215 non-null  int64
 10  permit_value                     45122 non-null  float64
 11  dwelling_unit_type               45215 non-null  object
 12  dwelling_unit_type_code          45153 non-null  object
 13  description_of_work              45214 non-null  object
 14  application_date                 45178 non-null  datetime64[ns]
 15  permit_issued_date               45215 non-null  datetime64[ns]
 16  year_issued                      45215 non-null  int64
 17  permit_final_date                42277 non-null  datetime64[ns]
 18  year_finaled                     42277 non-null  Int64
 19  urban_village_name               45170 non-null  object
 20  urban_village_type               45170 non-null  object
 21  comp_plan_name                   45170 non-null  object
 22  comp_plan_type                   45170 non-null  object
 23  community_reporting_area_number  45170 non-null  float64
 24  community_reporting_area         45170 non-null  object
 25  neighborhood                     45170 non-null  object
 26  council_district                 45170 non-null  Int64
 27  census_block_2010                45170 non-null  string
 28  census_block_group_2010          45170 non-null  string
 29  geoid10                          45170 non-null  string
 30  source                           45215 non-null  object
 31  longitude                        45170 non-null  float64
 32  latitude                         45170 non-null  float64
 33  permit_expiration_date           32518 non-null  datetime64[ns]
 34  zoning_all_zones                 45211 non-null  object
 35  zoning_primary_zone              45211 non-null  object
 36  zoning_reported_zone             45211 non-null  object
 37  zoning_category                  45211 non-null  object
 38  zoning_classification            45211 non-null  object
 39  geoid20                          45170 non-null  string
 40  census_block_2020                45170 non-null  float64
 41  census_block_group_2020          45170 non-null  float64
 42  quarter_issued                   45215 non-null  int64
 43  quarter_final                    42277 non-null  Int64
 44  condo_parcel_or_plat             45215 non-null  object
 45  most_recent_inspection_date      32057 non-null  datetime64[ns]
 46  most_recent_inspection_type      32064 non-null  object
dtypes: Int64(3), datetime64[ns](5), float64(8), int64(7), object(20), string(4)
memory usage: 16.3+ MB

In [ ]:
#drop redundant colmns
#quarter_and_year_issued: combines the year and quarter of the permit issue date
#quarter_and_year_final: same, but for the final date, e.g., "2023_2" 
df_clean.drop(columns=["quarter_and_year_issued", "quarter_and_year_final"], inplace=True)

In [56]:
#description_of_work — redundant text, info already captured in structured columns.
df_clean.drop(columns=["description_of_work"], inplace=True)

In [66]:
#make the date consistent
date_cols = ['application_date','permit_issued_date','permit_final_date']
for cols in date_cols:
    df_clean[cols] = pd.to_datetime(df_clean[cols], errors = 'coerce')

In [ ]:
#drop redundant year issued and year finaled
df_clean.drop(columns=['year_issued', 'year_finaled'], inplace=True)

In [75]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45215 entries, 0 to 45214
Data columns (total 44 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   project_address                  45214 non-null  object
 1   development_site_sqft            45133 non-null  float64
 2   permit_number                    45215 non-null  int64
 3   master_user_permit_number        7288 non-null   float64
 4   permit_stage                     45215 non-null  object
 5   type_of_permit                   45215 non-null  object
 6   new_units_permitted              45215 non-null  int64
 7   demolished_units_permitted       45215 non-null  int64
 8   net_units_permitted              45215 non-null  int64
 9   sleeping_rooms_permitted         45215 non-null  int64
 10  permit_value                     45122 non-null  float64
 11  dwelling_unit_type               45215 non-null  object
 12  dwelling_unit_type_code          45153 non-null  object
 13  application_date                 45178 non-null  datetime64[ns]
 14  permit_issued_date               45215 non-null  datetime64[ns]
 15  permit_final_date                42277 non-null  datetime64[ns]
 16  urban_village_name               45170 non-null  object
 17  urban_village_type               45170 non-null  object
 18  comp_plan_name                   45170 non-null  object
 19  comp_plan_type                   45170 non-null  object
 20  community_reporting_area_number  45170 non-null  float64
 21  community_reporting_area         45170 non-null  object
 22  neighborhood                     45170 non-null  object
 23  council_district                 45170 non-null  Int64
 24  census_block_2010                45170 non-null  string
 25  census_block_group_2010          45170 non-null  string
 26  geoid10                          45170 non-null  string
 27  source                           45215 non-null  object
 28  longitude                        45170 non-null  float64
 29  latitude                         45170 non-null  float64
 30  permit_expiration_date           32518 non-null  datetime64[ns]
 31  zoning_all_zones                 45211 non-null  object
 32  zoning_primary_zone              45211 non-null  object
 33  zoning_reported_zone             45211 non-null  object
 34  zoning_category                  45211 non-null  object
 35  zoning_classification            45211 non-null  object
 36  geoid20                          45170 non-null  string
 37  census_block_2020                45170 non-null  float64
 38  census_block_group_2020          45170 non-null  float64
 39  quarter_issued                   45215 non-null  int64
 40  quarter_final                    42277 non-null  Int64
 41  condo_parcel_or_plat             45215 non-null  object
 42  most_recent_inspection_date      32057 non-null  datetime64[ns]
 43  most_recent_inspection_type      32064 non-null  object
dtypes: Int64(2), datetime64[ns](5), float64(8), int64(6), object(19), string(4)
memory usage: 15.3+ MB

In [76]:
#Validate Housing Unit Logic
df_clean["unit_mismatch"] = (
    df_clean["net_units_permitted"] != (
        df_clean["new_units_permitted"] - df_clean["demolished_units_permitted"])
)

In [ ]:
#Check if numbers are consistent
df_clean["unit_mismatch"]

In [ ]:
#Check the null values
df_clean.isnull().sum().sort_values(ascending=False)

In [96]:
#drop columns with more than 1000 missing values
cols_to_drop= [
    "master_user_permit_number", "most_recent_inspection_date",
     "most_recent_inspection_type", "permit_expiration_date"]
df_clean.drop(columns=cols_to_drop, inplace=True)

In [97]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45215 entries, 0 to 45214
Data columns (total 41 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   project_address                  45214 non-null  object
 1   development_site_sqft            45133 non-null  float64
 2   permit_number                    45215 non-null  int64
 3   permit_stage                     45215 non-null  object
 4   type_of_permit                   45215 non-null  object
 5   new_units_permitted              45215 non-null  int64
 6   demolished_units_permitted       45215 non-null  int64
 7   net_units_permitted              45215 non-null  int64
 8   sleeping_rooms_permitted         45215 non-null  int64
 9   permit_value                     45122 non-null  float64
 10  dwelling_unit_type               45215 non-null  object
 11  dwelling_unit_type_code          45153 non-null  object
 12  application_date                 45178 non-null  datetime64[ns]
 13  permit_issued_date               45215 non-null  datetime64[ns]
 14  permit_final_date                42277 non-null  datetime64[ns]
 15  urban_village_name               45170 non-null  object
 16  urban_village_type               45170 non-null  object
 17  comp_plan_name                   45170 non-null  object
 18  comp_plan_type                   45170 non-null  object
 19  community_reporting_area_number  45170 non-null  float64
 20  community_reporting_area         45170 non-null  object
 21  neighborhood                     45170 non-null  object
 22  council_district                 45170 non-null  Int64
 23  census_block_2010                45170 non-null  string
 24  census_block_group_2010          45170 non-null  string
 25  geoid10                          45170 non-null  string
 26  source                           45215 non-null  object
 27  longitude                        45170 non-null  float64
 28  latitude                         45170 non-null  float64
 29  zoning_all_zones                 45211 non-null  object
 30  zoning_primary_zone              45211 non-null  object
 31  zoning_reported_zone             45211 non-null  object
 32  zoning_category                  45211 non-null  object
 33  zoning_classification            45211 non-null  object
 34  geoid20                          45170 non-null  string
 35  census_block_2020                45170 non-null  float64
 36  census_block_group_2020          45170 non-null  float64
 37  quarter_issued                   45215 non-null  int64
 38  quarter_final                    42277 non-null  Int64
 39  condo_parcel_or_plat             45215 non-null  object
 40  unit_mismatch                    45215 non-null  bool
dtypes: Int64(2), bool(1), datetime64[ns](3), float64(7), int64(6), object(18), string(4)
memory usage: 13.9+ MB

In [99]:
#keep only permits issued in 2012 or later
df_clean = df_clean[df_clean["permit_issued_date"].dt.year>= 2012]

In [113]:
#check if the permit number is unique
df_clean['permit_number'].is_unique

False

In [116]:
#Ensure permit numbers are unique and remove duplicate records and keep the last
df_clean = df_clean.drop_duplicates(subset="permit_number", keep="last")

In [117]:
df_clean.columns

Index(['project_address', 'development_site_sqft', 'permit_number',
       'permit_stage', 'type_of_permit', 'new_units_permitted',
       'demolished_units_permitted', 'net_units_permitted',
       'sleeping_rooms_permitted', 'dwelling_unit_type',
       'dwelling_unit_type_code', 'application_date', 'permit_issued_date',
       'permit_final_date', 'urban_village_name', 'urban_village_type',
       'comp_plan_name', 'comp_plan_type', 'community_reporting_area_number',
       'community_reporting_area', 'neighborhood', 'council_district',
       'census_block_2010', 'census_block_group_2010', 'geoid10', 'source',
       'longitude', 'latitude', 'zoning_all_zones', 'zoning_primary_zone',
       'zoning_reported_zone', 'zoning_category', 'zoning_classification',
       'geoid20', 'census_block_2020', 'census_block_group_2020',
       'quarter_issued', 'quarter_final', 'condo_parcel_or_plat',
       'unit_mismatch'],
      dtype='object')

In [123]:
#Redefine order of columns
final_cols = [
    #permit identifiers
    'permit_number',
    'permit_stage',
    'type_of_permit',

    #location info
    'project_address',
    'neighborhood',
    'community_reporting_area',
    'community_reporting_area_number',
    'council_district',
    'urban_village_name',
    'urban_village_type',
    'comp_plan_name', 
    'comp_plan_type',
    'longitude',
    'latitude',

    #zoning info
    'zoning_primary_zone',
    'zoning_category',
    'zoning_classification',
    'zoning_all_zones',
    'zoning_reported_zone',

    #units info
    'new_units_permitted',
    'demolished_units_permitted',
    'net_units_permitted',
    'sleeping_rooms_permitted',
    'dwelling_unit_type',
    'dwelling_unit_type_code',
    'condo_parcel_or_plat',
    'unit_mismatch',

    #Dates
    'application_date',
    'permit_issued_date',
    'permit_final_date',
    'quarter_issued',
    'quarter_final',

    #Location codes
    'census_block_2010', 
    'census_block_group_2010', 
    'geoid10',
    'census_block_2020', 
    'census_block_group_2020',
    'geoid20',

    #source
    'source',
    'development_site_sqft'
]

df_clean = df_clean[final_cols]

In [ ]:
# Export the cleaned dataset to an Excel file for further use
df_clean.to_excel("Cleaned_Residential_Building_Permits.xlsx", index=False)

In [9]:
# Import libraries for database connection
import pandas as pd
from sqlalchemy import create_engine

In [10]:
!pip install pymysql

Requirement already satisfied: pymysql in c:\users\arpan\anaconda3\lib\site-packages (1.1.2)

In [13]:
# Create SQLAlchemy engine for database interaction
from urllib.parse import quote_plus
password = quote_plus("Antriksh04$$$$")
engine = create_engine(
    f"mysql+pymysql://root:{password}@localhost:3306/seattle_analytics",
    pool_pre_ping=True,
    future=True
)
df = pd.read_excel(
    "Cleaned_Residential_Building_Permits.xlsx",
    parse_dates=[
        "application_date",
        "permit_issued_date",
        "permit_final_date"
    ]
)

df.to_sql(
    "permit_staging",
    engine,
    if_exists="replace",
    index=False,
    method="multi",
    chunksize=5000
)

22221

In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("Cleaned_Residential_Building_Permits2.xlsx")

In [5]:
#Get the count of permits issued in 2022 (by month)
df_2022 = df[df['permit_issued_date'].dt.year == 2022].copy()  # Using .copy() to avoid modifying the original dataframe

In [6]:
# Create a 'Year-Month' column for grouping by month (using .loc[] to modify safely)
df_2022.loc[:, 'Year-Month'] = df_2022['permit_issued_date'].dt.to_period('M')

In [7]:
# Group by 'Year-Month' and count the permits
permit_count_by_month = df_2022.groupby('Year-Month').size().reset_index(name='permit_count')

In [8]:
# Save the result to an Excel file
permit_count_by_month.to_excel("permit_count_by_month_2022.xlsx", index=False)